<mat-toolbar>
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    class="menu-button"
    aria-label="Menú"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="logo" routerLink="/"
    >Fitzone
    @if (isAuthenticated()) {
      <span class="username"> - Hola, {{ username }}!</span>
    }
  </span>
  <span class="spacer"></span>

  <nav class="desktop-menu">
    <button mat-button routerLink="/">Inicio</button>
    <button mat-button routerLink="/memberships">Membresias</button>

    @if (isAuthenticated()) {
      <button mat-button routerLink="/reservations">Mis reservas</button>
      <button mat-button (click)="logout()">Cerrar sesión</button>
    } @else {
      <button mat-button routerLink="/login">Iniciar sesión</button>
    }
  </nav>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="mobile-menu">
    <button mat-button routerLink="/" (click)="sidenav.close()">Inicio</button>
    <button mat-button routerLink="/memberships">Membresias</button>

    @if (isAuthenticated()) {
      <button mat-button routerLink="/reservations">Mis Reservas</button>
      <button mat-button (click)="logout()">Cerrar sesión</button>
    } @else {
      <button mat-button routerLink="/login">Iniciar sesión</button>
    }

    <button mat-button (click)="sidenav.close()">Cerrar</button>
  </mat-sidenav>
</mat-sidenav-container>
