<mat-toolbar>
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    class="menu-button"
    aria-label="Menú"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="logo" routerLink="/home"
    >Fitzone
    @if (isAuthenticated()) {
      <span class="username"> - Hola, {{ username }}!</span>
    }
  </span>
  <span class="spacer"></span>

  <nav class="desktop-menu">
    <button mat-button routerLink="/home">Inicio</button>

    @if (isAuthenticated()) {
      <button mat-button routerLink="/reservations">Mis Reservas</button>
      <button mat-button (click)="logout()">Salir</button>
    } @else {
      <button mat-button routerLink="/login">Login</button>
    }
  </nav>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="mobile-menu">
    <button mat-button routerLink="/home" (click)="sidenav.close()">
      Inicio
    </button>

    @if (isAuthenticated()) {
      <button mat-button routerLink="/reservations">Mis Reservas</button>
      <button mat-button (click)="logout()">Salir</button>
    } @else {
      <button mat-button routerLink="/login">Login</button>
    }
  </mat-sidenav>
</mat-sidenav-container>
