@use "@shared/styles/_media.scss" as *;
@use "@shared/styles/_colors.scss" as *;
@use "@shared/styles/_sizetexts.scss" as *;

mat-toolbar {
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;

  @include for-phone {
    padding-inline: 1rem;
  }

  .logo {
    font-weight: 500;
    font-size: $font-20;
    color: $color-white;
    cursor: pointer;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .desktop-menu {
    display: flex;
    gap: 1rem;

    @include for-phone {
      display: none;
    }

    a,
    button {
      color: $color-white;
      font-weight: 400;

      font-size: $font-14;

      @include for-tablet {
        font-size: $font-14 * $font-reduce-10;
      }

      @include for-phone {
        font-size: $font-14 * $font-reduce-20;
      }

      &:hover {
        scale: 1.02;
      }
    }
  }

  .menu-button {
    display: none;

    @include for-phone {
      display: inline-flex;
      color: $color-white;
      margin-right: 1rem;
    }
  }
}

.sidenav-container {
  position: relative;
}

.mobile-menu {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;

  @include for-phone {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  a,
  button {
    width: 100%;
    text-align: left;
    color: $color-white;
    display: block;

    @include for-phone {
      color: $color-black;
      margin-bottom: 0.5rem;
      text-decoration: none;
    }
  }
}
