@use "@shared/styles/_media.scss" as *;
@use "@shared/styles/_colors.scss" as *;
@use "@shared/styles/_sizetexts.scss" as *;

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  height: 80vh;

  @include for-phone {
    flex-direction: column;
    padding: 0rem;
    gap: 1rem;
  }

  @include for-tablet {
    padding: 0rem;
  }
}

.auth-right {
  flex: 1;
  max-width: 360px;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  background: $color-white;

  @include for-phone {
    max-width: 80%;
    width: 100%;
    padding: 1.5rem;
    max-height: 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    font-size: $font-22;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-weight: 500;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .w-full {
      width: 100%;
    }

    .btn-login {
      margin-block: 1rem;
      display: flex;
    }
  }

  .error {
    color: $color-error;
    text-align: center;
    margin: 0rem;
  }

  .auth-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;

    .image-stack {
      img {
        border-radius: 0.5rem;
        width: 50px;
      }
    }
  }
}
