<div class="auth-container">
  <div class="auth-right">
    <div class="auth-left">
      <div class="image-stack">
        <img src="branch.png" alt="branch" />
      </div>
      <h1 class="logo">Bienvenido a Fitzone</h1>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" maxlength="20" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword() ? 'password' : 'text'"
          formControlName="password"
          maxlength="30"
        />

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword.set(!hidePassword())"
          [attr.aria-label]="'Mostrar u ocultar contraseña'"
          [attr.aria-pressed]="!hidePassword()"
        >
          <mat-icon>{{
            hidePassword() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      @if (error()) {
        <p class="error">{{ error() }}</p>
      }

      <button
        mat-raised-button
        color="primary"
        class="btn-login"
        [disabled]="loading()"
      >
        @if (loading()) {
          <mat-progress-spinner
            mode="indeterminate"
            diameter="20"
            class="spinner"
          ></mat-progress-spinner>
        }

        @if (!loading()) {
          Entrar
        }
      </button>
    </form>
  </div>
</div>
