@use "@shared/styles/_media.scss" as *;
@use "@shared/styles/_colors.scss" as *;
@use "@shared/styles/_sizetexts.scss" as *;

.reservations-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 55vh;

  h2 {
    margin-bottom: 1rem;
    font-weight: 500;
    margin-top: 0rem;
  }

  mat-card {
    padding: 1.5rem;
  }

  mat-card-actions {
    gap: 1rem;
    margin-top: 0.5rem;
  }

  mat-card-title {
    font-size: $font-20;

    @include for-tablet {
      font-size: $font-20 * $font-reduce-10;
    }

    @include for-phone {
      font-size: $font-20 * $font-reduce-20;
    }
  }

  mat-card-subtitle {
    font-weight: 300;
    font-size: $font-14;

    @include for-tablet {
      font-size: $font-14 * $font-reduce-10;
    }

    @include for-phone {
      font-size: $font-14 * $font-reduce-20;
    }
  }
}

.reservations-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
