<div class="modal-container" [ngClass]="data.type || 'default'">
  <h2 mat-dialog-title class="modal-title">{{ data.title }}</h2>

  <mat-dialog-content>
    <p>{{ data.body }}</p>
  </mat-dialog-content>

  <mat-dialog-actions class="modal-actions">
    <button
      mat-dialog-close
      class="button-generic"
      [ngClass]="
        data.type === 'success'
          ? 'button-tertiary'
          : data.type === 'error'
            ? 'button-error'
            : 'button-primary'
      "
    >
      Aceptar
    </button>
  </mat-dialog-actions>
</div>
