@use "../../../shared/styles/media" as *;
@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/sizetexts" as *;

.modal-container {
  padding: 20px;

  &.success {
    .modal-title {
      color: $color-success;
    }
  }

  &.error {
    .modal-title {
      color: $color-error;
    }
  }

  &.default {
    .modal-title {
      color: $color-primary;
    }
  }
}

.modal-actions {
  margin-top: 20px;
  gap: 15px;
}

.button-cancel {
  color: $color-primary;
}
