<div class="modal-container" [ngClass]="data.type || 'default'">
  <h2 mat-dialog-title class="modal-title">{{ data.title }}</h2>

  <mat-dialog-content>
    <p>{{ data.body }}</p>
  </mat-dialog-content>

  <mat-dialog-actions class="modal-actions">
    <button
      mat-dialog-close="left"
      class="button-transparent-primary button-cancel"
    >
      {{ data.buttonLeft }}
    </button>

    <button mat-dialog-close="right" [ngClass]="'button-tertiary'">
      {{ data.buttonRight }}
    </button>
  </mat-dialog-actions>
</div>
