<app-header />

<div class="home-container">
  <h2 class="section-title">Explora nuestras clases</h2>
  <div class="classes-grid">
    @for (branch of classes(); track branch.name) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ branch.name }}</mat-card-title>
          <mat-card-subtitle>
            Ubicación: {{ branch.lat }}, {{ branch.lng }}
          </mat-card-subtitle>
        </mat-card-header>

        <iframe
          width="100%"
          height="250"
          style="border-radius: 1rem; border: 0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          [src]="getMapUrl(branch.lat, branch.lng)"
        >
        </iframe>

        <mat-card-content>
          <p>Clases disponibles:</p>
          <ul>
            @for (c of branch.classes; track c.id) {
              <li (click)="reserveClass(branch, c)">
                <button mat-icon-button color="primary">+</button>
                <div>
                  <p>{{ c.name }}</p>
                  — {{ c.schedule }}
                </div>
              </li>
            }
          </ul>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
