@use "@shared/styles/_media.scss" as *;
@use "@shared/styles/_colors.scss" as *;
@use "@shared/styles/_sizetexts.scss" as *;

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  h2 {
    margin-top: 0.5rem;
    font-weight: 500;
  }

  .w-full {
    width: 100%;
  }
}

.section-title {
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}

.classes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.mat-mdc-card-content {
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  p {
    margin: 0;

    font-size: $font-14;

    @include for-tablet {
      font-size: $font-14 * $font-reduce-10;
    }

    @include for-phone {
      font-size: $font-14 * $font-reduce-20;
    }
  }

  ul {
    padding-left: 1rem;

    li {
      display: flex;
      align-items: center;
      cursor: pointer;

      font-size: $font-14;

      @include for-tablet {
        font-size: $font-14 * $font-reduce-10;
      }

      @include for-phone {
        font-size: $font-14 * $font-reduce-20;
      }

      &:hover {
        scale: 1.01;

        color: $color-primary;

        button {
          color: $color-primary;
        }
      }

      div {
        display: flex;
        align-items: center;

        p {
          font-weight: 500;
          margin: 0rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

mat-card-header {
  margin-bottom: 1rem;

  mat-card-title {
    color: $color-primary;
    font-weight: 500;

    font-size: $font-20;

    @include for-tablet {
      font-size: $font-20 * $font-reduce-10;
    }

    @include for-phone {
      font-size: $font-20 * $font-reduce-20;
    }
  }
  mat-card-subtitle {
    font-size: $font-14;
    font-weight: 300;

    @include for-tablet {
      font-size: $font-14 * $font-reduce-10;
    }

    @include for-phone {
      font-size: $font-14 * $font-reduce-20;
    }
  }
}

.home-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
